asgiref==3.9.2
charset-normalizer==3.4.4
choreographer==1.1.2
colorama==0.4.6
dj-database-url==3.1.2
Django==5.2.6
et_xmlfile==2.0.0
gunicorn==25.3.0
iniconfig==2.2.0
joblib==1.5.2
kaleido==1.1.0
logistro==2.0.0
narwhals==2.8.0
numpy==2.3.4
openpyxl==3.1.5
orjson==3.11.3
packaging==25.0
pandas==2.3.3
pillow==11.3.0
plotly==6.3.1
pluggy==1.6.0
psycopg2==2.9.10
psycopg2-binary==2.9.11
Pygments==2.19.2
pytest==8.4.2
pytest-timeout==2.4.0
python-dateutil==2.9.0.post0
pytz==2025.2
reportlab==4.4.4
scikit-learn==1.7.2
scipy==1.16.2
simplejson==3.20.2
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.6.0
tzdata==2025.2
whitenoise==6.12.0
