<!DOCTYPE html> <!--Plantilla para todas las paginas-->
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AquaStatsJalisco</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    
    <body>
            <!-- Inicio Barra de navegacion-->
            <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark" style="background-color: #e3f2fd;">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">Inicio</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            {% if user.is_authenticated %}<!--Condicional para mostrar si el usuario esta logeado-->
                                <a class="nav-link" href="/salir">Salir</a>
                                <a class="nav-link" href="#">Crear</a>
                                <a class="nav-link" href="/perfil">Perfil</a>
                            {% else %}
                                <a class="nav-link" href="/sesion">Iniciar Sesion</a>
                                <a class="nav-link" href="/registro">Registro</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav> <!-- Fin Barra de navegacion-->

            <!--Inicio formulario-->
            <main class="container">
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <!--formulario-->
                        <form method="POST" class="card card-body mt-5"><!--Envio de formulario-->
                            <h1 class="text-center">Inicio de Sesion</h1>
                            {{error}}<!--Error en Pantalla-->
                            {% csrf_token %}<!--Token de autenticacion-->
                            <div class="mb-3"><!--Input de usuario-->
                                <label for="username">Usuario:</label>
                                <input type="text" name="username" id="username" class="form-control" placeholder="Ingresa tu usuario"></input>
                            </div>
                            <div class="mb-3"><!--Input Contraseña-->
                                <label for="password">Contraseña:</label>
                                <input type="password" name="password" id="password" class="form-control" placeholder="Ingresa tu contraseña"></input>
                            </div>
                            <button class="btn btn-success">Iniciar Sesion</button>
                        </form>
                    </div>
                </div>
            </main><!--Fin formulario-->


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        
    </body>
</html>